.countries-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    @include mobile{
        grid-template-columns: 1fr 1fr;
    }
    li{
        background: $white ;
        font-family: $body;
        font-size: 1.125rem;
        line-height: 1.5;
        padding: 20px;
        position: relative;
        transition: $base-transition;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .label{
            width: calc(100% - 20px);
        }
        svg{
            stroke: $black;
        }
        &:hover{
            background: $colorE31837;
            color: $white;
            svg{
                stroke: $white;
            }
        }
    }
}

