.grid-layout-rise {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

    @include mobile {
        display: flex;
        flex-wrap: wrap;
    }

    &.two-rows {
        grid-template-rows: 1fr 1fr;
    }

    .block:nth-child(1) {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 4;
    }

    .block:nth-child(2) {
        grid-row-start: 1;
        grid-column-start: 4;
        grid-row-end: 2;
        grid-column-end: 6;
    }

    .block:nth-child(3) {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-row-end: 3;
        grid-column-end: 6;
    }

    .block:nth-child(4) {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 6;
    }

    .block {
        @include mobile {
            width: 100%;
        }

        .wrap {
            position: relative;
            height: 100%;

            .image {
                position: relative;
                overflow: hidden;
                height: 100%;

                &:before {
                    // content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

                img {
                    width: 100%;
                    display: block;
                    height: 100%;
                    object-fit: cover;
                    transition: $base-transition;
                }
            }

            &:hover {
                .image {
                    img {
                        transform: scale(1.05);
                    }
                }
            }

            .description-wrap {
                position: absolute;
                left: 2rem;
                bottom: 2rem;
                color: $white;
                z-index: 1;
                max-width: 65%;

                @include mobile {
                    left: 1rem;
                    bottom: 1rem;
                    max-width: calc(100% - 2rem);
                }

                .title {
                    font-size: 1.9rem;
                    font-weight: 500;

                    @include mobile {
                        font-size: 1.3rem;
                        margin-bottom: 0.5rem;
                    }

                    a {
                        color: inherit;
                        text-decoration: none;
                    }
                }

                p {
                    line-height: 1.6;
                    margin-bottom: 1.5rem;
                }

                .links-wrap {
                    ul {
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;

                        li {
                            margin-right: 1.5rem;
                            width: auto;

                            a {
                                color: $white;
                                position: relative;
                                text-decoration: none;
                                padding-bottom: 3px;
                                display: inline-block;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    width: calc(100% - 15px);
                                    height: 1px;
                                    background: $white;
                                    left: 0;
                                    bottom: 0;
                                    transition: $base-transition;
                                }

                                svg {
                                    width: 10px;
                                }

                                &:hover {
                                    &:after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}