/*financial Report*/
.financial-report{
    padding: 6rem 0;
    @include tabletPotrait {
        padding: 3.37rem 0 2.37rem;
    }
    @include mobile{
        padding: 3.37rem 0 2.37rem;
    }
    .section-header{
        padding-bottom: 2.5rem;
        @include tabletPotrait {
            padding-bottom: 1.37rem;
        }
        @include mobile{
            padding-bottom: 14px;
        }
    }
}
.report-table{
    max-width: 846px;
    margin: 0 auto;
    background: $white;
    padding: 30px 40px 20px 40px;
    border: 1px solid #C2C2C2;
    @include tabletPotrait {
        border: 0;
    }
    @include mobile{
      padding: 0px;
      background: transparent;
      border: 0;
    }
    ul{
        width: 100%;
        li{
            font-size: .875rem;
            line-height: 1.38;
            color: $black;
            font-family: $body;
            display: flex;
            align-items: center;
            width: 100%;
            border-bottom: 0.25px solid #969696;
            padding: 18px 0;
            .defaultIcon{
                img{
                    width: auto;
                }
            }
            
            @include mobile{
                flex-wrap: wrap;
                padding: 30px 0;
            }
            
            & > div{
                display: flex;
                align-items: center;
            }
            a{
                font-size: 1rem;
                line-height: 1.18;
                color: $accent-red;
                text-decoration: none;
                font-weight: 500;
                display: inline-block;
                position: relative;
            }
            .title{
                width: 60%;
                @include mobile{
                    width: 100%;
                    margin-bottom: 18px;
                }
                span{
                    display: inline-block;
                    width: 27px;
                    @include mobile{
                        display: none;
                    }
                }
                p{
                    width: calc(100% - 27px);
                    padding-left: 2.18rem;
                    margin: 0;
                    font-family: $body;
                    font-size: 0.875rem;
                    color: $black;
                    line-height: 1.625;
                    @include tabletPotrait{
                        font-size: .825rem;
                    }
                    @include mobile{
                        padding-left: 0;
                    }
                    em{
                        color: $grey-text;
                        display: block;
                        width: 100%;
                        @include mobile{
                            display: block;
                        }
                    }
                    small{
                        display: block;
                        font-style: italic;
                        color: #515151;
                        font-size: 14px;
                    }
                    strong {
                        font-weight: 500;
                    }
                }
            }
            .icons{
                width: 25%;
                justify-content: center;
                position: relative;
                img{
                    width: auto;
                }
                @include mobile{
                    width: 70%;
                    justify-content: flex-start;
                }
                a{
                    & + a{
                        margin-left: 15px;
                    }
                }
                .selection-icon{
                    width: 100%;
                    position: absolute;
                    text-align: center;
                    transform: translateY(-25px);
                    transition: .2s;
                    opacity: 0;
                }
                &:hover{
                    .selection-icon{ 
                    transform: translateY(0);
                    transition: .6s;
                    opacity: 1;
                }
                .defaultIcon{
                    opacity: 0;
                    transition: 0.3s;
                }
            }
                
            }
            .archive{
                width: 15%;
                justify-content: center;
                @include mobile{
                    width:30%;
                    justify-content: flex-start;
                }
                a{
                    position: relative;
                    font-weight: 400 ;
                    &:after{
                        position: absolute;
                        content: '';
                        background: $black;
                        height: 1px;
                        width: 80%;
                        left: 50%;
                        top: calc(100% + 0.2rem);
                        transform: translate(-50%, 0);
                        transition: $base-transition;
                    }
                    &:hover{
                        &:after{
                            width: 100%;
                        }
                    }
                }
            }
            &:nth-child(n+6) {
                display:none;
            }
        }    
        &.active{
            li{
                display: flex;
            }
        }    
    }
    .show-more{
            padding-top: 18px;
            text-align: center;
            span{
                display: inline-block;
                width: 30px;
                height: 30px;   
                cursor: pointer;
                img{
                    width: auto;
                    transition: $base-transition;
                }
                &.active{
                    img{
                        transform: rotate(180deg);
                    }
                }
            }
    }
    &.two-column{
        padding-bottom:60px;
        max-width: 1064px;
        width: 100%;
        @include mobile{
           max-width: 100%;
           padding-bottom: 0;
        }
        .title{
            width: 80%;
            @include mobile{
                width: 100%;
                margin-bottom: 18px;
            }
        }
        .icons{
            width: 20%;
            @include mobile{
                width: 100%;
            }           
        }
        .view-all{
            display: block;
            padding-top: 22px;
            text-align: center;
            @include tabletPotrait{
                padding-top: 22px;
            } 
            @include mobile{
                text-align: left;
            } 
            a{
                font-size: 1rem;
                line-height: 1.18;
                color: $black;
                text-decoration: none;
                font-weight: 400;
                display: inline-block;
                position: relative;
                border-bottom: 0.5px solid $black;
            }
        }
    }
}
