/*Normal banner Tiles*/
.board-of-directors{
    width: 100%;
    img{
        width: 100%;
    }
    h3{
        font-size: 18px;
        text-transform: uppercase;
        color: $black;
        font-weight: 400;
        margin-bottom: 20px;
        font-family: $heading-regular;
    }
    .text-up{
        font-size: 1.125rem;
    }
}
/*Normal banner Tiles End*/