.latest-stories {
    .grid-layout {
        @include desktop {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        .flickity-page-dots {
            @include mobile {
                width: 90%;
                text-align: center;
                bottom: -3rem;
            }

            .dot {
                @include mobile {
                    background: rgba($black, 0.3);
                }

                &.is-selected {
                    background: $accent-red;
                }
            }
        }

        .slides {
            @include ipadPortrait {
                width: 50%;
                padding: 0 5px;
            }

            .wrap {
                .image-wrap {
                    overflow: hidden;

                    img {
                        width: 100%;
                        transition: $base-transition;
                    }
                }

                .content-wrap {
                    padding: 2.5rem;

                    @include mobile {
                        padding: 1rem;
                    }

                    .feed-provider-logo {
                        width: 30px;
                        margin-bottom: 0.5rem;

                        img {
                            width: 100%;
                        }
                    }

                    .logo {
                        width: 150px;
                        margin-bottom: 1rem;

                        img {
                            width: 100%;
                        }
                    }

                    .category {
                        font-family: $heading-medium;
                        color: rgba($black, 0.6);
                        font-size: 0.75rem;
                        text-transform: uppercase;
                        margin-bottom: 0.5rem;
                    }

                    .text {
                        font-weight: 500;

                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }

                    .btn {
                        font-size: 0.9rem;
                        color: $accent-red;
                        text-decoration: none;
                        padding-bottom: 0.2rem;
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 50%;
                            left: 0%;
                            bottom: 0;
                            height: 1px;
                            background: rgba($black, 0.6);
                            transition: $base-transition;
                        }
                    }

                    .date {
                        margin-top: 2rem;
                        font-style: italic;
                        font-size: 0.85rem;
                        color: rgba($black, 0.6);
                    }
                }

                &:hover {
                    .btn {
                        &:after {
                            width: 90%;
                        }
                    }

                    .image-wrap {
                        img {
                            transform: scale(1.05);
                        }
                    }
                }

                // &.fifty-fifty {
                //     @include desktop {
                //         display: flex;
                //         height: 100%;
                //         align-items: center;
                //     }

                //     .image-wrap {
                //         @include desktop {
                //             width: 50%;
                //             height: 100%;
                //         }

                //         img {
                //             width: 100%;
                //             height: 100%;
                //             object-fit: cover;
                //         }
                //     }

                //     .content-wrap {
                //         @include desktop {
                //             width: 50%;
                //         }
                //     }
                // }

                // &.text-white {

                //     .category,
                //     .text,
                //     .date {
                //         color: $white;
                //     }
                // }
            }
        }

        .slides:nth-child(1) {
            background: $white;

            @include desktop {
                grid-row-start: 1;
                grid-column-start: 1;

                grid-row-end: 3;
                grid-column-end: 2;
            }
        }

        .slides:nth-child(2) {
            background: $white;

            @include desktop {
                grid-row-start: 1;
                grid-column-start: 2;

                grid-row-end: 2;
                grid-column-end: 3;
            }


        }

        .slides:nth-child(3) {
            background-color: #484848;

            @include desktop {

                grid-row-start: 2;
                grid-column-start: 2;

                grid-row-end: 3;
                grid-column-end: 3;
            }

            .wrap {
                flex-direction: row-reverse !important;

                .category,
                .text,
                .date {
                    color: $white;
                }
            }

        }

        .slides:nth-child(2),
        .slides:nth-child(3) {
            .wrap {
                @include desktop {
                    display: flex;
                    height: 100%;
                    align-items: center;
                }

                .image-wrap {
                    @include desktop {
                        width: 50%;
                        height: 100%;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content-wrap {
                    @include desktop {
                        width: 50%;
                    }
                }
            }
        }



    }
}