.news-main-section {
    padding-left: 15%;
    padding-right: 15%;

    @include tabletPotrait {
        padding-left: 5%;
        padding-right: 5%;
    }

    @include mobile {
        padding-left: 3%;
        padding-right: 3%;
    }

    .breadcumb {
        @include mobile {
            overflow: auto;
        }

        a {
            @include mobile {
                flex: 0 0 auto;
            }
        }

        span {
            @include mobile {
                flex: 0 0 auto;
            }
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .newsHeading {
        h2 {
            font-family: $body;
            font-weight: 500;
            font-size: 24px;
            line-height: 38px;
            color: #333333;

            @include mobile {
                font-size: 18px;
                line-height: 28px;
            }
        }

        em {
            margin-top: 10px;
            font-family: $body;
            font-style: italic;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: #717171;

            @include mobile {
                font-size: 14px;
            }
        }
    }

    .category-links {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        margin-top: 0px;
        flex-wrap: wrap;

        @include mobile {
            font-size: 14px;
        }

        div {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            @include mobile {
                margin-top: 20px;
            }

            &:last-child {
                @include mobile {
                    margin-right: 0;
                }
            }

            span {
                width: 40px;
            }

            .cat-list {
                width: calc(100% - 40px);
                margin-top: 0;
            }
        }

        a {
            color: #E31837;
            text-decoration: none;
            padding: 0 15px;
            position: relative;
            cursor: default;
            pointer-events: none;

            @include mobile {
                padding: 0 10px;
            }

            &:after {
                position: absolute;
                content: '';
                background: #333333;
                height: 100%;
                width: 1px;
                right: 0;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    display: none;
                }
            }
        }
    }

    .news-social-link {
        .social-link {
            strong {
                font-weight: 500;
                margin-right: 15px;
            }

            a {
                text-decoration: none;
                margin-right: 20px;

                svg {
                    path {
                        fill: $accent-red;
                        transition: $base-transition;

                        @include mobile {
                            // fill: $white;
                        }

                        &#bg {
                            fill: #1C1C1C;
                        }
                    }
                }

                // &:hover{
                //     svg{
                //         path{
                //             fill: $white;
                //             &#bg{
                //                 fill: #1C1C1C;  
                //             }
                //         }
                //     }
                // }
            }
        }

        .download-link {
            text-align: right;
            display: flex;

            @include mobile {
                text-align: left;
            }

            strong {
                font-weight: 500;
                margin-right: 15px;
            }

            a {
                font-family: "Georama", sans-serif;
                font-size: 1rem;
                color: #DD052B;
                line-height: 1.18;
                text-decoration: none;
                display: flex;
                margin: 0 1rem;
                white-space: nowrap;

                img {
                    width: 15px;
                    display: inline-block;
                    margin-left: 5px;
                }
            }
        }
    }

    .news-cotnent {
        h2 {
            font-family: $body;
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
        }

        p {
            line-height: 32px;
        }
    }

}