.rise-highlights-section {
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
    margin-top: 80vh !important;

    &:first-child {
        margin-top: 0 !important;
    }

    .wrap {
        height: 100%;
        position: relative;

        .image {
            height: 100%;
            position: relative;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:before {
                // content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(269.89deg, rgba(0, 0, 0, 0.15) 0.09%, rgba(0, 0, 0, 0.76) 99.9%);
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            position: absolute;
            width: 60%;
            left: 5%;
            top: 50%;
            transform: translate(0, -50%);
            color: $white;
            z-index: 2;

            @include mobile {
                width: 80%;
                left: 10%;
                top: 30%;
            }

            &.no-line {
                &::before {
                    display: none;
                }

                &::after {
                    display: none;
                }
            }

            &:before {
                content: "";
                position: absolute;
                width: 120px;
                height: 6px;
                background: $accent-red;
                left: 0;
                top: 30%;
                transform: rotate(-20deg) skew(-20deg) translate(-120%, 0);

                @include mobile {
                    transform: rotate(-20deg) skew(-20deg) translate(-110%, 0);
                }
            }

            &:after {
                content: "";
                position: absolute;
                width: 120px;
                height: 6px;
                background: $accent-red;
                left: 17%;
                bottom: 90%;
                transform: rotate(-20deg) skew(-20deg) translate(100%, 0%);

                @include mobile {
                    left: 25%;
                }
            }

            small {
                font-family: $heading-regular;
                font-size: 14px;
                text-transform: uppercase;

                @include mobile {
                    font-size: 12px;
                    margin-bottom: 10px;
                    display: inline-block;
                }
            }

            p {
                max-width: 65%;
                margin-bottom: 2rem;

                @include mobile {
                    max-width: 100%;
                }
            }

            &.medium-text {
                h2 {
                    @include mobile {
                        font-size: 1rem;
                    }
                }
            }
        }

        .block-content {
            position: absolute;
            width: 30%;
            right: 10%;
            bottom: 0;
            background: $accent-red;
            padding: 4rem 3rem;
            color: $white;
            z-index: 2;

            @include mobile {
                width: 90%;
                left: 5%;
                right: auto;
                padding: 3rem;
                text-align: center;
            }

            h3 {
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.1rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}