@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,400;0,500;1,400&display=swap');
@font-face {
    font-family:"Quantum-Rise-Bold";
    src:url("../fonts/QuantumRise-Bold.woff2") format("woff2"),url("../fonts/QuantumRise-Bold.woff") format("woff");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:"Quantum-Rise-Semibold";
    src:url("../fonts/QuantumRise-Semibold.woff2") format("woff2"),url("../fonts/QuantumRise-Semibold.woff") format("woff");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:"Quantum-Rise-Medium";
    src:url("../fonts/QuantumRise-Medium.woff2") format("woff2"),url("../fonts/QuantumRise-Medium.woff") format("woff");
    font-style:normal;
    font-weight:400;
}
@font-face {
    font-family:"Quantum-Rise-Regular";
    src:url("../fonts/QuantumRise-Regular.woff2") format("woff2"),url("../fonts/QuantumRise-Regular.woff") format("woff");
    font-style:normal;
    font-weight:400;
}